.profile{
    padding: 20px 0px 20px 0px;
}
.title{
    font-size: 24px;
    color: orange;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.blocks{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.block{
    display: flex;
    flex-direction: column;
}
.qqq{
    color: lightgray;
    font-size: 14px;
}
.aaa, .aaa_br{
    color: orange;
    font-size: 18px;
}

.aaa_br {
    display: flex;
    flex-direction: column;
}
